/* Hero section */
.hero {
    background-color: #FFF0ED;
    padding-left: 150px;
    padding-bottom: 100px;
}

.hero__h1 {
    font-size: 4em;
    color: #393939;
    font-weight: 300;
    margin-top: 0;
    padding-top:50px;
    display:inline-block;
    position: relative;
    bottom: 400px;
    
}


.hero__p {
    font-size: 1.1em;
    font-weight: 400;
    display: inline-block;
    width:400px;
    position: relative;
    bottom: 35vh;
    left: -23.5vw;

}


.hero__button {
    background-color: #5BACC3;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    padding: 15px 30px;
    position: relative;
    bottom: 20vh;
    left: -51vw;
}


.hero__img {
    position: relative;
    top: 5vh;
    right: 8vw;
}


/*our products section */

.our-products {
    background-color: #F7F7F7;
    padding-bottom: 8vh;
}


.our-products__h2 {
    font-size: 4em;
    color: #393939;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    padding-top:8vh;
}

.card {
    display: inline-block;
    /* width: 330px;
    height: 440px; */
    width: 22vw;
    height: 65vh;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);
    margin-right: 100px;
    position: relative;
    left: 10%;
}


.card__image{
    /* height: 280px; */
    height: 55%;
    position: relative;
    left: 27%;
    top:2%;
}

.card__h3 {
    font-size: 2em;
    font-weight: 300;
    color: #393939;
    position: relative;
    left: 20%;
}


/* .big-h3 {
    font-size: 2em;
    font-weight: 300;
    color: #393939;
} */


.card__price {
    font-size: 2em;
    font-weight: 600;
    color:#5BACC3;
    position: relative;
    left: 33%;
}


.our-product__button {
    display: block;
    width:180px;
    background-color: #5BACC3;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    padding: 15px 30px;
    margin: 0 auto;

}

.our-products__button__section {
    margin: 50px auto;
}


.our-products__button__link {
    text-decoration: none;
}

/* Discount section */

.discount {
    width: 88%;
    background-color: #393939;
    /* margin: 200px 20px 200px 40px; */
    margin:0 auto;
    margin-top:200px;
    margin-bottom: 200px;
    padding: 20px 0;
    text-align: center;
}

.discount__p {
    color:white;
    font-size: 3.1em;
    margin:20px auto;
}


.discount__p>span {
    font-weight: 700;
}


/* Footer */


footer {
    background-color: #FFF0ED;
}


footer>section{
    margin-left: 12vw;
    margin-bottom: 50px;
}


.address {
    display: inline-block;
    /* width: 200px; */
    width: 10%;
    position: relative; /*I had to add this in order level this section with the other two */
    top: -2vh;
}



.footer__h3 {
    font-size: 2em;
    font-weight: 300;
    color: #393939;
    display: block;
}


.hours {
    display: inline-block;
}


.social {
    display: inline-block;
    width: 200px;
}


.social__img {
    /* width: 50px; */
    width: 25%;
    margin-right: 5%;
}





